*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10pt;
}
object{
    height:300px;
    width:100%
}
iframe{
    width:100%;
    height:300px;
    border:none;
    scrolling:"no";
    align-content: center;
    align-items: center;
    
}
footer{
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -4px 10px lightgray;
    background-color:white;
}
html{
    height:100vh;
}
body{
    color:gray;
    height:100%;
}
.container-fluid{
    height:100vh;
}
.centercon{
    height:100vh;
}
.sidenav{
    padding-top:4%;
}
.centercon{
    padding-top:4%;
}
.footerCenter{
    margin:10px 0px 10px 0px;
}
.fa{
    color:lightgray;
    font-size: 20pt;
    margin:0 5 0 0;

}
.sidenav{
    margin-top:20px;
}
.btn-spacing{
    margin-top:10px;
}
.btn-warning{
    color:white;
}
.folder-count{
    background-color: #007bff;
    margin: 10px;
    color:white;
    font-size: 45pt;
    line-height: 150px;
    text-align: center;
}
.file-count{
    background-color: #868e96;
    color:white;
    margin: 10px;
    line-height: 150px;
    text-align: center;
    font-size: 45pt;
}
.user-count{
    background-color: rgb(125, 66, 242);
    color:white;
    margin: 10px;
    line-height: 150px;
    text-align: center;
    font-size: 45pt;
}
.btn{
    border-radius: 0;
}
.navbar-custom{
    background-color: white;
    box-shadow: 0 0 10px lightgray;
}
.centercon{
    padding-right: 0;
    padding-left: 0;
    color:black;
}
.content-main{
    margin:  20 20 0 20;
    color: gray;
}
.content-main button.btn-default{
    color: gray;
    background-color: white;
    float: right;
    margin:none;
}
.content-main button.btn-default{
    color: gray;
    background-color: white;
    float: right;
    margin:0;
}
.btn-default .fa:hover{
    color: #007bff;
}
.addUser{
    margin-bottom: 20px;
}
.addUserHeader{
    font-size: 20px;
    text-align: center;
}
.list-of-user{
    border-right: 1px solid lightgray;
    padding-right: 20px;
}
.fileheader{
    background:rgb(235, 235, 235);
}
.border-right{
    border-right:1px solid lightgray;
}
.btncategory{
    text-align: left;
}
.dropdown-item{
    color:gray;
}
.filecontent{
    box-shadow: 0 0 7px lightgray;
    margin: 20px;
    padding: 10px;
    transition: opacity 300ms ease-in-out 1s;
}
.file{
    margin-top:30px;
}
.fileInput{
    margin-top:10px;
}
.adddocument{
    margin-bottom: 10px;
}
.login{
    background-color: lightgray;
}
.divlogin{
    background-color: white;
    margin-top:120px;
    padding:30px;
    box-shadow: 0 0 10px#333; 
}
.img-fluid{
    width: 150px;
    height: 150px;
}
.btn .btn-default{
    padding:none;
    height:3px;
}
.fa .fa-ellipsis-h{
    margin:none;
}
a href:before{
    color:lightgray;
}
.dropdown-menu{
    margin-right:none;
}
.table-action{
    background-color: inherit;
    border-style: none;
    margin:10 2 10 2;
    position: relative;
    float: right;
}
.category{
    font-size: 15pt;
    color:gray;
    padding-left:10px;
    margin-top:10px;
}
th.check{
    padding: 0;
    padding-top: 10px;
    align-content: center;
}
/*collapsible*/

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  /*center content*/
  .centercon{
    box-shadow: -10px 0 10px -10px lightgray;
  }
  /*right navigation*/
  .rightnav{
        box-shadow: -10px 0 10px -10px lightgray;
        padding: 75px 20px 20px 20px;
        align-content: center;
        margin:0;
       
  }
  .docPropBtn{
        float: right;
    }

  .rightnav-action{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    display: none;
    box-shadow: 0 0 10px #288bf529;
    bottom:0%;
    width:300px; 
    background-color: #fff; 
    opacity:1;
  }
  .rightnav-properties{
    position:absolute;
    z-index:1;
  }
  .filePreview{
      width:100%;
  }
  #addFileForm{
      padding:10px;
  }
  /*//////*/
  #properties .fa{
      font-size:22px;
  }

  #properties table{
    border-spacing: 5px;
    border-collapse: separate;
  }
  #properties table td{
    padding: 2px;
  }
  #tblProp #rightAlign{
      text-align: right;
      color:darkgray;
  }
  #tblProp{
      margin:  20px;
  }
  
  /*field input add category*/
  #fieldCategory{
      margin-bottom :5px;
  }
  #btn-menu{
      display:none;
  }
  .fa-ellipsis-h{
      color:white;
  }
  #drp-menu{
      display: none;
      font-size:15pt;
  }
  #tbbody tr:hover #drp-menu{
    display:block;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  #tbbody tr:hover{
      background-color: #6ff49bad;
      color:white;
  }
  #tbbody tr:after{
    background-color: #6ff49bad;
    color:white;
  }
  .navbar-custom .navbar-nav .navbtn{
    margin: 0 3 0 3;
  }

 .navbar-custom .navbar-nav .navbtn .navlink:hover{
    color: rgb(22, 188, 238);
  }
  .btn-der{
      background-color: white;
      border: none;
      box-shadow: 0;
      cursor: pointer;
      color:gray;
  }
  .btn-der:hover{
      border:none;
      color: #007bff
  }
  .btn-der:after{
    border:none;
    color: rgb(240, 75, 57);
}
   /* Remove default bullets */
ul,li, .list {
    list-style-type: none;
    margin-left: 10px;
  }
  .li-file{
      margin-left: 25px;
  }
  .li-file:hover{
    background-color: lightgray;
}
  li,.list{
      background-color: white;
  }
  
  /* Remove margins and padding from the parent ul */
  .list {
    margin: 0;
    padding: 0;
    background-color: white;
  }
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    color: gray;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
    background-color: white;
  } 
  ul.nested.active::after{
      display: none;
  }
  .fa-chevron-right,.fa-file-o{
      font-size:12px;
  }

  /*Drag and drop form for adding document*/
  .dragDrop{
    border-radius: 10px;
    height: 250px;
    margin:10px;
    border: 4px dashed lightgray;
  }
  .dragDrop p{
    text-align: center;
    line-height: 150px;
    color: gray;
  }
  .dragDrop input[type="file"]{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
  }
  .file-action{
      margin:10px 0px 5px 0px;
  }
  .file-upload{
      color: #fff;
  }
  .btn-file{
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
  }
  .btn-close{
    margin:10px;
    border: none;
    background-color: transparent;
  }
  .btn-close .fa:hover{
    color:rgb(255, 25, 0);
}
  .fa-btn-close{
    font-size: 15pt;
}
    .clickRow{
        cursor: pointer;
    }
.fileTable{
    width: 100%;
}
.record_table {
    width: 100%;
    border-collapse: collapse;
}

.selectFileAction{
    position: relative;
    display: none;
    margin: 10 20 -10 20;
    opacity: 1;
    padding: 5px 10px 5px 10px ;
    font-size: 10pt;
}

.file-action-row .fa{
    font-size: 10pt;
}
.btn-file-action{
    color:#fff;
    background-color: transparent;

}
.searchInput{
    float:right; 
}
.searchForm{
    overflow: hidden;
}
.list-view{
    margin-left:5px;
    cursor: pointer;
    margin-bottom: 20px;
}
.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #138496;
}
button.navbar-toggler-icon{
    color:lightgray
}
.btn-file-action .fa{
    color: #fff;
    font-size: 12pt; 
}

.btn-delete{
    margin-left:10px;
}

.record_table .clickRow:hover {
    background: #eee;
}

.record_table td {
    padding: 5px 3px 5px 3px;
    border-top: 1px solid #eee;
}

.record_table .check{
    align-content: center
}
.record_table th{
    align-content: center;
    padding:5px 3px 5px 3px
}


.record_table .tblHeading{
    background-color: rgb(228, 228, 228);
}

.file-property{

    width: 100%;
    border-collapse: collapse;

}

.file-property td{
    border-bottom: 1px solid lightgray;
}

.file-preview{
    background-color: #eee;
    text-align: center;
    line-height: 300px;
    height: 300px;
    width: 100%;
}

.file-preview .fa{
    font-size:70pt;
    line-height: 300px;
}
#exampleModal{
    border-radius: 0;
}
/*control Panel*/
.ctrlPanel{
    border-right:1px solid lightgray
}
@media (min-width: 1200px){
    .modal-xlg{
        width: 90%;
    }
}
/*////////////////*/
.btnUpload{
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
}
/*for table fixed header*/
/*ADD A NOTE*/
.btnAddNote{
    float:right;
}
textarea{
    width: 100%;
    border: 1px solid lightgray;
    padding: 5px;
}
.btnAdd{
    margin-top:5px;
    float:right;
}
/*overlay for maximizinf documents*/
#maxDocument {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.761);
    z-index: 2;
    cursor: pointer;
    overflow-y: scroll;
  }
  #documentMaximize{
    margin: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  [aria-hidden="true"]  { display: none; }
  [aria-hidden="false"] { display: block; }
  .nav-link{
      padding-left:-2rem;
  }
  a{
      color:gray;

  }
  a:hover{
      text-decoration:none;
      color:#138496
  }
  .recBin{
      font-size: 20px;
  }
  /*scrollable table*/
.tableFixHead    { overflow-y: auto; height: 80%; }
.tableFixHead th { position: sticky; top: 0; }
table .record_table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
#style-1::-webkit-scrollbar-thumb {
    background-color: #000000;
}
#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
/*for document preview*/
.chcDoc{
    margin:10px;
}
.docSettings{
    height:100%;
    padding:6% 20px 20px 20px;
}
.docPreview{
    padding-top:5%;
    height:100vh;
    box-shadow: -10px 0 10px -10px lightgray;
}
.docPreviewContainer{
    
}
.imgDocument{
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
    height:100%;
}
#imgCanvas{
    width:100%;
    background-color:lightgray;
}
.saveDocBtn{
    float:right;
}
.docThumb{
    padding-top:40%;
    padding-bottom: 10px;
    overflow-y: auto;
    height:100%;
}
.fileCustomView{
    font-size: 60pt;
}
.gridFileView{
    margin-bottom: 15px;
    align-content: center;
    align-items: center;
    text-align: center;
}
.listView{
    
}
#test{
    position:absolute; 
    top:-100px;
}
.multiPage{
    width:70px;
    height:90px;
    margin-top:20px;
    margin-left: 20px;
}
@media print {
    body * {
      visibility: hidden;
    }
    .docPreview, .docPreview * {
      visibility: visible;
      color: white;
    }
    .docPreview {
      position: absolute;
      left: 0;
      top: 0; 
      padding:0;
      margin:0;
    }
  }