*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}
body{
    color:gray;
}
.fa{
    color:lightgray;
    font-size: 20pt;
    margin:0 5 0 0;

}
.sidenav{
    margin-top:50px;
}
.btn{
    border-radius: 0;
}
.navbar-custom{
    background-color: white;
    box-shadow: 0 0 10px lightgray;
}
.centercon{
    padding-right: 0;
    padding-left: 0;
    color:black;
}
.contentmargin{
    margin-top:30px;
}
.fileheader{
    background:rgb(235, 235, 235);
}
.border-left{
    border-left:1px solid lightgray;
}
.btncategory{
    text-align: left;
}
.dropdown-item{
    color:gray;
}
.filecontent{
    box-shadow: 0 0 7px lightgray;
    margin: 20px;
    padding: 10px;
    transition: opacity 300ms ease-in-out 1s;
}
.file{
    margin-top:30px;
}
.fileInput{
    margin-top:10px;
}
.adddocument{
    float:right;
}
.login{
    background-color: lightgray;
}
.divlogin{
    background-color: white;
    margin-top:120px;
    padding:30px;
    box-shadow: 0 0 10px#333; 
    border-radius: 5px;
}
.img-fluid{
    width: 150px;
    height: 150px;
}
.btn .btn-default{
    padding:none;
    height:3px;
}
.fa .fa-ellipsis-h{
    margin:none;
}
/*collapsible*/

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  /*center content*/
  .centercon{
    box-shadow: -10px 0 10px -10px lightgray;
  }
  /*right navigation*/
  .rightnav{
        box-shadow: -10px 0 10px -10px lightgray;
  }
  /*field input add category*/
  #fieldCategory{
      margin-bottom :5px;
  }